*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI';
    background-color: #1A1A2E;
    
}


/*Header Styling*/
.header 
{
    color: #E94560;
    text-align: center;
    margin: 10px;
    
    transition: color 0.2s, border 0.2s ;
    transition-timing-function: linear;
}


/*-------------------------------------------------------------*/



/*Manage button Styling*/

.manage-btn {
    margin-top: 1rem;
}
.manage-btn button
{
    width: 100%;
    margin-top: 5px;
    color: #E94560;
    padding: 5px;
    font-size: 15px;
    border: 4px solid #E94560;;
    border-radius: 25px;
    transition: color 0.2s, border 0.2s ;
    transition-timing-function: linear;

}

.manage-btn button:hover
{
    color: aliceblue;
    border: 4px solid aliceblue;
    cursor: pointer;

}


/*-------------------------------------------------------------*/


/*Data table styling*/

table td {
    word-wrap: break-word;    
    overflow-wrap: break-word; 
    max-width: 6rem;
}
.data-table
{
    color: aliceblue;
    margin-top: 20px;;
}
.data-table table thead th
{
    font-size: large;
    padding: 5px;
    background-color: #E94560;
}
.data-table table tbody td
{
    font-size: large;
    padding: 10px;
    background-color: #E94560;
}
.data-table td
{
    text-align: center;
}

/*-------------------------------------------------------------*/


/*Add expense tyling*/

.add-expense *
{
    margin-top: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    border-color:  #E94560;
}
.add-expense label
{
    color: white;
    font-weight: bold;
}
.add-expense select
{
    color: #E94560;
}
.add-expense textarea
{
   color:aliceblue;
}
.add-expense input
{
    color: aliceblue;
}
.add-expense textarea:focus,
.add-expense input:focus,
.add-expense select:focus
{
    outline:#E94560 solid

}
.add-expense #submit-btn
{
    width: 7rem;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-weight: bold;
    border: 3px solid #E94560;
    
}
.add-expense #submit-btn:hover
{
    background-color: aliceblue;
    cursor: pointer;
    color:#E94560;
    
    
}


/*-------------------------------------------------------------*/


/*Delete item button*/
.item-btn
{
    color:#E94560;
    font-size: large;
    border: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear;
   
}
.item-btn:hover
{
    cursor: pointer;
    color: aliceblue;
}

/*-------------------------------------------------------------*/


/*Legend*/
.legend
{
    /* border: #E94560 3px solid; */
    bottom: 0px;
    padding: 10px;
    color:#E94560;
    margin-left: 5px;

    width: 15rem;
    margin-top: 2rem;
    
}
.legend p
{
    font-size: x-large;
    font-weight: bold;
}
.legend hr
{
    color: #E94560;
    max-width: 15rem;
}
.legend button
{
    font-size: large;
    font-weight: bold;
    border:#E94560 1px solid;
    color:aliceblue;
    padding: 0px;
    border: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear
}
.legend button:hover
{
    cursor: pointer;
    color: #E94560;
}

.vis-btn {
    margin-top: 5rem;
    margin-left: 2rem;
}
.vis-btn button {
    padding:5px;
    background: transparent;
    border: 3px solid #E94560;
    color: #E94560;
    font-size: large;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;

    transition-duration: 250ms;
    transition-property: border;
    transition-timing-function: linear;
}
.vis-btn button:hover {
    border: 3px solid aliceblue;
    cursor: pointer;
}



/*----------------- Summary page---------------*/
#summary-header {
    color: #E94560;
    text-align: center;
    margin-top: 10px;
}

/* ----------------- Grid System Implementation -------------------*/
.row {
    display: flex;
    width: 100%;
    
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}